name: Client CI

on:
  push:
    paths:
      - 'client/devhabit-ui/**'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./client/devhabit-ui

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'client/devhabit-ui/package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
